﻿@*@{
        ViewBag.Title = "Index";
        Layout = "../_FizzleBizzle_Layout.cshtml";
    }*@
<div class="row no-margin-top">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 fzbz-container">
        <div class="row no-margin-top title">
            <div class="col-xs-12">
                <h1 class="">Fizzle Bizzle Test</h1>
            </div>
        </div>

        <div class="row no-margin-top sub-title">
            <div class="col-xs-12">
                <h3 class="pull-right">For Engagency</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p><strong>FizzBuzz</strong> generates an array of strings representing the consecutive sequence of integers from start to end. When the integer is a multiple of Fizz, the string "Fizz" is added instead. Likewise, for multiples of Buzz, "Buzz" is added. For multiples of both Fizz and Buzz, "FizzBuzz" is added.</p>
            </div>
        </div>

        <div class="row example-container">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 pull-left">
                        <h4><strong>For example:</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>With Fizz = 3, Buzz = 5, start = 1, and end = 15; that array looks like:</strong></p>
                        <p><strong>["1", "2", "Fizz", "4", "Buzz", "Fizz", "7", "8", ..., "14", "FizzBuzz"]</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row fzbz-input">
            <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="start" placeholder="Start">
            </div>
            <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="end" placeholder="End">
            </div>
            <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="fizz" placeholder="Fizz">
            </div>
            <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="buzz" placeholder="Buzz">
            </div>
        </div>
        <div id="bazz-area" class="fzbz-input">
            <div class="row">
                <div class="col-sm-2 col-xs-4">
                    <input id="bazz-toggle" type="checkbox">
                </div>
                <div class="col-sm-4 col-xs-6">
                    <label class="padding-top-sm">Enable Bazz?</label>
                </div>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="bazz" placeholder="Bazz">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <select id="predicate" class="form-control">
                        <option value="NA">Choose Predicate</option>
                        <option value=">">></option>
                        <option value="<"><</option>
                        <option value="==">==</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input id="generate-btn" type="button" class="btn btn-default" value="Generate" />
            </div>
        </div>
      <div class="row">
          <div class="col-xs-12">
              <label id="result"></label>
          </div>
      </div>
    </div>
    
</div>
