﻿body {
    background-color: #FFDFD8;
}
/*.parent-container {
    height: 400px;
}*/

.row {
    margin-top: 15px;
}

.row.no-margin-top{
    margin-top:0;
}

.fzbz-container {
    margin-bottom:15px;
    background-color: #CC3611;
    color: #FFF;
    height:90%;
    border-radius: 15px;
    height:900px;
}

.title h1{
    border-bottom: 5px solid #FFF;
}

.row .sub-title h3 {
    margin-top: 0;
    margin-bottom:20px;
}

.example-container {
    margin: 15px 0 15px 0;
    border-radius: 0 20px 0 20px;
    background-color: #FFF;
    color: #CC3611;
}

.fzbz-input input {
    margin-bottom:10px;
}

.btn.toggle-on {
    color: #f92525;
}

.toggle[data-toggle='toggle']{
    margin-bottom:15px;
}

.padding-top-md{
    padding-top:15px;
}

.padding-top-sm{
    padding-top: 10px;
}

#generate-btn {
    width: 100%;
    color: #CC3611;
    margin-top: 10px;
}

#result{
    color: #FFF;
}